:root {
    --light-grey-border: 1px solid gainsboro;
    --dark-grey-border: 1px solid #6d7579;
    --text-dark-grey: #6d7579;
    --text-white: white;
    --code-font: 'Encode Sans', sans-serif;
    --code-block-bg: #353b45;
    --blockquote-bg: #656c79;
    --blockquote-border: #324361;
}

main {
    width: 100%;
    height: 93%;
}

#markdown, #render {
    width: 100%;
    height: 100%;
}

.md-right-dark {
    border-right: var(--dark-grey-border);
}

.md-right-light {
    border-right: var(--light-grey-border);
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    padding: 10px;
}

.section-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.btn-icon {
    font-size: 1.2em;
}

.btn-icon:hover {
    cursor: pointer;
}

.text-white {
    color: var(--text-white);
}

.text-grey {
    color: var(--text-dark-grey);
}

.border-bottom-dark {
    border-bottom: var(--dark-grey-border);
}

.border-bottom-light {
    border-bottom: var(--light-grey-border);
}

textarea, #preview {
    padding: 20px 30px;
}

textarea {
    background-color: inherit;
    color: inherit;
    font-family: var(--code-font);
    font-size: 105%;
    width: 100%;
    height: 95%;
    resize: none;
    border: none;
}

#preview {
    overflow: scroll;
    height: 95%;
}

#preview > * {
    line-height: 1.5;
    padding-bottom: 10px;
}

#preview > h1 {
    padding-top: 20px;
}

#preview > h2, h3, h4, h5, h6 {
    padding-top: 10px;
}

#preview > p > a, 
#preview > p > em > a, 
#preview > p > strong > a,
#preview > p > ul > a,
#preview > p > ol > a {
    color: #03a7dd;
}

#preview > p > code {
    font-family: var(--code-font);
    font-size: 0.8em;
}

#preview > pre {
    background-color: var(--code-block-bg);
    font-family: var(--code-font);
    color: aliceblue;
    width: fit-content;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
}

#preview > blockquote {
    color: var(--text-white);
    background-color: var(--blockquote-bg);
    border-left: 10px solid var(--blockquote-border);
    width: fit-content;
    margin-left: 25px;
    padding: 10px;
}


@media (min-width:801px) {
    main {
        display: flex;
        flex-direction: row;
    }

    #markdown, #render {
        display: block;
        width: 50%;
        height: 100%;
    }
}