:root {
    --light-grey-border: 1px solid gainsboro;
    --dark-grey-border: 1px solid #6d7579;
    --text-dark-grey: #6d7579;
    --text-white: white;
}

main {
    width: inherit;
    height: 93%;
}

#markdown, #render {
    width: inherit;
    height: 100%;
}

.md-right-dark {
    border-right: var(--dark-grey-border);
}

.md-right-light {
    border-right: var(--light-grey-border);
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    padding: 10px;
}

.section-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.btn-icon {
    font-size: 1.2em;
}

.btn-icon:hover {
    cursor: pointer;
}

.text-white {
    color: var(--text-white);
}

.text-grey {
    color: var(--text-dark-grey);
}

.border-bottom-dark {
    border-bottom: var(--dark-grey-border);
}

.border-bottom-light {
    border-bottom: var(--light-grey-border);
}

textarea, #preview {
    padding: 20px 30px;
}

textarea {
    background-color: inherit;
    color: inherit;
    font-family: 'Encode Sans' , sans-serif;
    font-size: 105%;
    width: 100%;
    height: 95%;
    resize: none;
    border: none;
}

#preview {
    overflow: scroll;
    height: 95%;
}

/* Add styled rendered HTML */


@media (min-width:801px) {
    main {
        display: flex;
        flex-direction: row;
    }

    #markdown, #render {
        display: block;
        width: 50%;
        height: 100%;
    }
}